@charset "UTF-8";
 /*================== 样式重置 ======================== */
body,p,ul,ol,li,h1,h2,h3,dl,dt,dd{margin:0;padding:0;}
h2{font-size:100%;}
ul,dl,ol{list-style:none;}
em{font-style: normal;}
img{border:0 none;}
img{display:inline-block;overflow:hidden;vertical-align:top;}
body{-webkit-user-select:none;-webkit-text-size-adjust:100%!important;font-family:Helvetica;}
a,button,input,img{-webkit-touch-callout:none;}
input,select,textarea{outline:none;}
table{border-collapse:collapse;border-spacing:0;}
a,button,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
@media all and (-webkit-transform-3d){a,button,input{-webkit-tap-highlight-color:rgba(130,130,130,.52);}} 
html,body{width: 100%;height:100%;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
/*！====以上是reset样式======*/
$yellow: #FFDE47;$green:#06BA04;$white:#FFFFFF;
@import "compass/css3";
@import "compass/utilities";
// 雪碧图
@mixin img-shapes{background:url(../images/share/img-shapes.png) no-repeat;background-size:26.3rem 34.9rem }
@mixin ico-arrow{height:1.2rem;width:.8rem;background-position: 0 0;}
@mixin flexble-arrow{height:1.3rem;width:.9rem;background-position: -1.7rem 0;}
@mixin hook{height:1.6rem;width:2.1rem;background-position: -3.4rem 0;}
@mixin dotbgsmall{height:2.4rem;width:2.6rem;background-position: -19.6rem 0;}
@mixin telecom{height:1.5rem;width:5.2rem;background-position: -6.5rem 0;}
@mixin wepay{height:1.4rem;width:7.0rem;background-position: -11.8rem 0;}
@mixin tips{height:1.4rem;width:25.1rem;background-position: 0 -2.6rem;}
@mixin bg-shape{height:29.9rem;width:26.3rem;background-position: 0 -4.9rem;}

// sass混合
@mixin wrapper{position:relative;width:100%;margin:0 auto;-webkit-box-sizing: border-box;box-sizing: border-box;background-color: #FFF;}
@mixin position($position:relative, $top:auto, $left:auto, $width:auto, $height:auto){
	position: $position;top:$top;left:$left;height:$height;width:$width;
}
@mixin display($display:block, $width:auto, $height:auto){
	display: $display;width: $width;height:$height;
}
@mixin margin($margin-top:auto, $margin-bottom: auto){
	margin-top: $margin-top;margin-bottom: $margin-bottom;
}
@mixin padding($padding-top: auto, $padding-bottom: auto){
	padding-top: $padding-top;padding-bottom: $padding-bottom;
}
@mixin border($border-top:1px solid #CCC, $border-bottom:1px solid #CCC){
	border-top:$border-top;border-bottom: $border-bottom;
}
input,label{vertical-align: middle;}
input,textarea{outline:none;}
/*!===实现用户精准选择复制====*/
.no-copy{-webkit-user-select:none;}
.no-copy{-webkit-touch-callout: none}
.text-copy{-webkit-user-select:text;user-select:text;}
/*！====清除浮动=====*/
.clearfix {zoom:1}
.clearfix:after {content:' '; display: block; clear: both;visibility: hidden;}
/*!=====公用样式======*/

// 设置根元素的大小
html {display: block;font-size: 10px;font-size: 62.5%; -webkit-text-size-adjust: 100%;}
body{font-size: 1.6rem;}
.focus-yellow{color: #FFFF66;}
// 超过长度省略css
.ellipsis {
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
/*! ====index.html===*/
.wrapper-1{
	@include wrapper;
	color:$white;
	font-size:1.3rem;
	background:transparent url(../images/bg.jpg) 0 0 no-repeat;
	background-size:cover;
	overflow:hidden;
}
.logo{
	padding-top: 1.6rem;
	padding-left: 1.5rem;
	margin: 0 auto;
	width: 100%;
	height: 1.5rem;
	.share-telecom{
		display: inline-block;
		@include img-shapes;
		@include telecom;
		// background-size属性只在background属性之后定义才能生效；
	}
	.vertical-line{
		@include position(relative,-1px,.3rem,1px,1.3rem);
		display: inline-block;
		background-color:$white;
	}
	.share-wepay{
		display: inline-block;
		margin-left:0.6rem;
		@include img-shapes;
		@include wepay;
	}
}
// 背景的主体形状
.main-shape{
	width:100%;
	.bg-shape{
		background:transparent url(../images/share/bg-shape.png) left top no-repeat;
		background-size: 100%;
		// @include position(absolute,/* 44+16-2 */5.8rem, 50%,26.3rem,30.0rem);
		// margin-left: -13.6rem;
		display: block;
		width: 26.3rem;
		height: 30rem;
		margin: 0 auto;
		margin-top: -3.1+5.8rem;
	}
}
// iphone6马上到手
.description{
	position: relative;
	width:100%;
	height:7.4rem;
	margin: -12rem auto 0;
	h2{
		margin:0 auto;
		font-size:3.2rem;
		height: 3.2rem;
		line-height: 3.2rem;
		width:26.6rem;
		text-align: center;
		letter-spacing: -32/10000*25rem;
		//<!--此处具体的数字待移动端测试后再做修改，现在26.6rem再小就会导致换行-->
	}
	p{
		text-align: center;
		width: 25.2rem;
		// height:5.4rem;
		margin: 0 auto;
		font-size: 1.4rem;
		line-height: 2.8rem;
	}
	// 每个微信号只能参与预订和抽奖其中一项
	.share-tips{
		display: block;
		margin: /* -316+344 */1.8rem auto 0;
		@include img-shapes;
		@include tips;
	}
	.share-flexible-arrow{
		display: block;
		@include position(relative,-0.5rem,50%,.9rem,1.4rem);
		margin-left:12.9rem;
		@include img-shapes;
		@include flexble-arrow;
	}
}
/*!=====按钮模块======*/
.at-button{
	position: relative;
	margin-top: 6rem;
	width:100%;
	height:10.5rem;
	font-size: 1.8rem;
	a.book,a.lottery{
		margin: 0 auto;
		text-align: center;
	}
	a.book{
		@include display(block, /* 250/320 */  25rem, 4.2rem);
		@include border-radius(2.1rem);
		line-height:4.2rem;
		background-color: $yellow;
		color: #3D4231;
	}
	a.lottery{
		@include display(block, 25rem, 4.0rem);
		// 减去边框的宽度每边1px
		@include border-radius(2.0rem);
		background-color: transparent;
		position: relative;
		border: 1px solid white;
		color:$white;
		margin-top:2.1rem;
		line-height:4.0rem;
	}
// 实现0.5px边框
// 	a.lottery:before {
//     content: '';
//     position: absolute;
//     top: -50%;
//     bottom: -50%;
//     left: -50%;
//     right: -50%;
//     border: .1rem solid red;
//     -webkit-border-radius: 4.2rem;
//     border-radius: 4.2rem;
//     -webkit-transform: scale(0.5);
//     transform: scale(0.5);
// }
}
/*!======活动说明模块=========*/
.at-detail{
	width:100%;
	margin:5.4rem auto  0;
	color:$white;
	.at-detail-title{
		display: block;
		margin-left:1.5rem;
		font-size: 1.4rem;
	}
	.at-detail-des{
		font-size: 1.3rem;
		@include display(block, 100%, 31.2rem);
		//295px,
		margin-left: 1.5rem;
	}
	li{
		padding-left:1.5rem;
		padding-right: 2.4rem;
		line-height:1.8rem;
		text-indent:-.7rem;
	}
	li:nth-of-type(1){
		margin-top: 1.6rem;
	}
	li:nth-of-type(6){
		padding-bottom: 4.1rem;
	}
	li .list-style{
		@include display(inline-block, auto, auto);
		padding-right:.3rem;
	}
}











/*! =================页面2 prebook.html CSS样式==========================*/
/*!====1.身份证号和手机号要用js进行验证========2.选择城市的js代码暂时还不会使用=====*/
.wrapper-2{
	@include wrapper;
	background:transparent url(../images/share/dotbgsmall.png) 0 0  repeat;
	background-size: 2.6rem 2.4rem;
	font-size:1.3rem;
	overflow:hidden;
}
// 填写信息进行预订和支持随时退款的颜色设置
.filltobook, .tips{
	color:#B4B4B4;
}
// 填写表格的提示文字
.filltobook{
	@include display(block, 95%, 4.48rem);
	margin: 0 auto;
	line-height:4.48rem;
	padding-left:5%;
}
// 填写姓名，身份证，联系方式的表格1
.form-1{
	font-size: 1.6rem;
	// @include position(relative, auto, auto,320px,13.2rem);
	width: 100%;
	// height: 13.2rem;
	margin: 0 auto;
	background-color: $white;
	@include border(1px solid #CCC, 1px solid #CCC);
	.info{
	@include display(inline-block, 70.31% 4.4rem);
	vertical-align: middle;
	margin-left: 1.5rem;
	line-height:4.4rem;
	color:#999;
	}
	// span.info:nth-of-type(1){letter-spacing: 2px;}
	input{
			display: inline-block;
			position: relative;
			// top:-.15rem;
			left:1.5rem;
			border:0 solid #C00;
			font-size: 1.6rem;
			color:#333;
		}
}
.horizon-line{
	@include display(block, 95.31%, 1px);
	// width:305px;
	// height:1px;
	background-color: #CCC;
	margin-left:4.7%;
}
// 选择城市和地区以及填写详细地址的表格2
.form-2{
	width: 100%;
	height: 8.8rem;
	margin:2.1rem auto 2.7rem;
	@include border(1px solid #CCC, 1px solid #CCC);
	background-color: $white;
	font-size: 1.6rem;
}
// ============两个下拉选择框============//
/*选择城市*/
.select-city {
	@include display(inline-block, 7.1rem, 1.6rem);
	position: relative;
	background-color: $white;
	color: black;
}
/*a链接里的span cur-select的样式设置*/
.select-city .cur-select-city{
	// @include position(absolute, 0rem, .5rem, 7.1rem, 1.6rem);
	position: absolute;
	top:0;
	right:-.5rem;
	width: 7.1rem;
	height: 1.6rem;
	line-height: 1.6rem;
	/*背景色为白色，背景图为xxx，距离左边75px，然后水平居中。*/
	background: transparent url(../images/share/ico-arrow.png) no-repeat 5.9rem center;

	-webkit-background-size: .8rem;
	background-size: .8rem;
	text-indent: 1rem;
}
/*链接被点击的时候，背景颜色变成白色*/
.select-city:hover .cur-select-city{
	background-color: $white;
	/*默认为白色背景*/
}
/*对select元素样式设置，主要在于隐藏select元素*/
.select-city select{
	@include position(absolute, 0rem, .5rem, 7.1rem, 1.6rem);
	opacity: 0;
	font-size: 1.6rem;
	color: black;
}
// 竖直线
.vertical-line{
	@include position(relative, .8rem,/*  -3+17 */1.4rem, 1px, 3.0rem);
	display: inline-block;
	background-color: #CCC;
	z-index: 3;
}
/*选择区域*/
/*a*/.select-distinct {
	@include position(relative, 0, 0, 18rem, 1.6rem);
	display: inline-block;
	background-color: $white;
	color: black;
	.cur-select-distinct{
		// @include position(absolute, 0rem, 1.6rem, 16rem, 1.6rem);
		position: absolute;top:0;right:-1rem;width: 16rem;height: 1.6rem;
		line-height: 1.6rem;
		background: url(../images/share/ico-arrow.png) no-repeat 100% center;
		background-size: .8rem auto;
		/*背景色为白色，背景图为xxx，距离左边75px，然后水平居中。 */
		
		// text-indent: 1rem;
		// .ico-arrow{
		// 	display: block;width: 0.8rem;height: 1.25rem;
		// 	background: url(../images/share/ico-arrow.png) no-repeat 100% center;
		// 	background-size: .8rem auto;
		// 	position: absolute;
		// 	top: 0;
		// 	left:0;
		// }
	}
/*对select元素样式设置，主要在于隐藏select元素*/
	select{
		@include position(absolute, 0rem, 1.6rem, 18rem, 1.6rem);
		opacity: 0;
		font-size: 1.6rem;
		color: black;
	}
}
.select-distinct:hover .cur-select-distinct{
	background-color: $white;
	/*默认为白色背景*/
}


// 水平分割线
.form-2-horizon-line{
	// @include position(relative, /* -35+44 */.9rem, 1.5rem, 30.5rem, 1px);
	display: block;
	width: 95.31%;
	height: 1px;
	margin-left: 4.7%;
	margin-top:.9rem ;
	background-color: #CCC;
}
.particular-address{
	@include position(relative, /* (2.2-0.9) */1.3rem, 1.4rem, 28.6rem, 3.1rem);
}
.particular-address input{
	@include display(block, 28.6rem, 1.8rem);
	line-height: 1.8rem;
	border:0 solid #c00;
	font-size: 1.6rem;
	//此处为要用@media screen为不同屏幕指定line-height，
	//在苹果上正常但在安卓上并不正确
}
// 确认按钮
.confirm-btn{
	@include display(block, 92.18%, 4.0rem);
	@include border-radius(.5rem);
	border:1px solid #1A9D18;
	margin: 0 auto;
	text-align: center;
	line-height: 4.0rem;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, #06BA04), color-stop(1,#06BF04));
	// background-color: #06BF04;
	//此处为要用@media screen为不同屏幕指定line-height，
	//在苹果上正常但在安卓上并不正确
	input{
		color:$white;
		border:0 solid #c00;
		font-size: 1.8rem;
		background-color: transparent;
	}
}
.tips{
	display: block;
	width: 14.3rem;
	height: 1.2rem;
	line-height: 1.2rem;
	margin: 1.4rem auto 10.9rem;
	// padding-bottom: /* 125-16 */10.9rem;
	text-align: center;
	font-size: 1.2rem;
}


/*!=====页面3 prebook-detail.html  CSS=============*/

.wrapper-3{
	@include wrapper;
	background:transparent url(../images/share/dotbgsmall.png) 0 0  repeat;
	padding-top:1.7rem;
	background-size: 2.6rem 2.4rem;
	font-size: 1.2rem;
	overflow:hidden;
}
.success{
	// @include position(relative, 17px, 0px, 320px, 412px);
	width: 100%;
	// height: 41.2rem;
	height: auto;
	min-height: 412px;
	margin: 0 auto;
	// margin-bottom: 19px;
	background-color: $white;
	@include border(1px solid #CCC, 1px solid #CCC);
// 绿色背景和打勾标志
.success-sign{
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	margin-left: 2.7rem;
	margin-top: 1.7rem;
	background: #06BE04 url("../images/share/hook.png") 50% 50% no-repeat;
	background-size: 2.2rem auto;
	@include border-radius(50%);
	z-index: 3;
}
// 成功的消息提示
.success-des{
	display:block;
	width:16.0rem;
	height:3.5rem;
	margin-left: 9.1rem;
	margin-top:/* -52+18 */-3.4rem;
}
.success-des >p:nth-of-type(1){
	// @include position(relative, 18px, 92px, auto,auto);
	padding-left: .2rem;
	font-size: 1.6rem;
	line-height: 1.6rem;
}
.success-des >p:nth-of-type(2){
	// @include position(relative, 41px, 91px, auto,auto);
	padding-top: .7rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	color:#A3A3A3;
}
}
.h-line{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #CCC;
}
.hl-1{
	// @include position(relative, auto, auto, 290px,1px);
	position: relative;
	display: block;
	margin-top:1.9rem;
	// margin-left:1.5rem;
	margin-bottom: 1.5rem;

}
// 基础信息模块
.basic-info{
	height:auto;
	margin-top: 1.8rem ;
	margin-left:1.5rem ;
	font-size: 1.4rem;
	li{
		display: inline;
		line-height: 2.4rem;
	}
	ul>li:nth-of-type(1){
		color:#AAA;
	}
	ul>li:nth-of-type(2){
		margin-left: .7rem;
	}
	ul:nth-of-type(4)>li:nth-of-type(2){
		display: inline-block;
		// width: 20rem;
		height: 3.7rem;
	}
	ul:nth-of-type(4)>li:nth-of-type(1){
		display: inline-block;
		vertical-align: top;
	}
	.ls-name{
		letter-spacing:0.33rem;
	}
	.ls-address{
		letter-spacing:.18rem;
	}
	.hl-2{
	margin-top:/* 20-5 */1.5rem;
	margin-bottom: /* 19-5 */1.4rem;
	margin-left:0;
	background-color: #CCC;
	}
}
/*!=========进度状态==========*/
.progress{
	// @include position(relative, 0px, 75+15px, auto, auto);
	position: relative;
	margin-top: 0;
	margin-left: /* 100-15 */6.2+1.5+1.0rem;
	// width: 22.0rem;
	// height: 14.2rem;
	font-size: 1.2rem;
}
.v-line{
	@include position(absolute, 1.0rem, -2.4rem, .1rem, 12.9rem);
	background-color: #CCC;
	z-index:2;
}
.pd-1, .pd-2, .pd-3, .pd-4{
	@include position(absolute, auto, -2.6rem, .5rem, .5rem);
	@include border-radius(50%);
	background-color: #CCC;
	z-index:3;
}
.pd-1{
	top:.6rem;
}
.pd-2{
	top:5.4rem;
}
.pd-3{
	top: 8.5rem;
}
.pd-4{
	top: 13.4rem;
}
.active{
	color: #06BE04!important;
	font-weight: bold;
}
.progress li{
	display: block;
	line-height:1.8rem;
	color: #CCC;
	margin-top: 1.2rem;
}
.progress li:nth-of-type(1){
	margin-top: /* -5+23-3 */1.5rem!important;
}
.progress li:nth-of-type(1) span{
	color: #CCC;
}
// .progress li:nth-of-type(2){
// 	margin-top: -3-3+20px;
// }
// .progress li:nth-of-type(3){
// 	margin-top: -3-3+20px;
// }
.progress li:nth-of-type(4){
	margin-bottom: 1.8rem;
}

.active-dot{
	background-color:#06BE04;
}
.btn{
	padding-bottom: 1.6rem;
}
.confirm-btn-3{
	// @include position(relative, 35px, auto, 293px, 40px);
	@include border-radius(.5rem);
	@include display(block, 92.18%, 4.0rem);
	font-size: 1.8rem;
	color: white;
	line-height: 4.0rem;
	margin: 1.8rem auto 0;
	text-align: center;
	border:1px solid #1A9D18;
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, #06BA04), color-stop(1,#06BF04));
}

// 媒介查询语句
@media screen and (min-width: 321px) and (max-width: 479px ) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px ) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 640px) and (max-width: 719px ) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 720px) and (max-width: 749px ) {
    html {
        font-size: 22.5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 799px ) {
    html {
        font-size: 23.5px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 25px;
    }
}