.images-sprite, .images-share-s394abca318 {
  background-image: url('../images/../images-s83557c0fd0.png');
  background-repeat: no-repeat; }

.images-share-s394abca318 {
  background-position: 0 0; }
